/*----------------------------------General settings*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&family=Poppins:wght@300;400&family=Raleway:wght@300;400;500&display=swap');

.uppercase{
    text-transform: uppercase;
}

.justified{
    text-align: justify;
    text-justify: inter-word;
}

body{
    font-family: Poppins, Helvetica, sans-serif;
}
/*----------------------------------Colours*/

.bg-dark {
    background-color: rgba(0,0,0,0.8)!important;
}

.what-we-offer-section{
    background-color: #fafafa;
}

.jumbotron{
    color:white;
    background-color: rgba(0,0,0,0.8);
}

.offer-section-card{
    background-color: rgba(0,0,0,0.9);
}

#view-classes-button{
    color: black;
    background-color: white;
    border-color: #B92207;
    border-width: 3px;
}

#view-classes-button:hover{
    color: white;
    background-color:maroon;
    border-color: maroon;
    
}
/*----------------------------------Text Design*/

.section-heading{
    font-family: Oswald, sans-serif;
    text-align: center;
    padding: 30px 0;
    color:#b50b0b;
}

.classes-heading{
    text-align: center;
    color:#b50b0b;
}

.card-heading{
    text-align: center;
}

.what-we-offer-description{
    margin-top: 15px;
    text-align: center;
}

.offer-section-card{
    color: #fafafa;
}

.gym-member{
    color: brown;
    line-height: 2em;
    text-align: center;
}

.centered-text{
    text-align: center;
}


/*----------------------------------Header*/
header{
    margin:0;
    padding:0;
}

.index-hero-image{
    background: url("../images/index-header.jpg") center center no-repeat;
			width: 100%;
            height: 85vh;
            padding:0;
            clear:both;
            margin-top:0;
}

.hero-container{
    top:0;
    left:0;
}

.call-to-action{
    padding-top:50px
}

.classes-hero-image{
    background: url("../images/class.jpg") center no-repeat;
    padding:0;
    padding-bottom: 20px;
}

.about-hero-image{
    background: url("../images/gym.jpg") center no-repeat;
    padding:0;
    padding-bottom: 20px;
}

/*---------------------Navbar----*/

.navbar-container{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding-left: 0;
    padding-right: 0;
}

.navbar-div{
    background-color: rgba(0,0,0,0.9);
   
}

.navbar {
    margin-bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .25);
    border: 0;
}

.navbar-brand{
    font-weight: 300;
    font-size: 30px;
}

.navbar .navbar-toggler {
    border: 0;
}

.active{
    border-bottom: 1px solid white;
}

.jumbotron{
    margin-top: 50px;
    width:70%;
    text-align: center;
}

.jumbotron p{
    padding-top: 10px;
}

.classes-jumbotron{
    padding-top: 20px;
    padding-bottom: 40px;
}


/*----------------------------------What We Offer Section*/

#coaching-image{
    background: url("../images/coach.jpg") center center no-repeat;
    width: auto;
    max-width: 75%;
    height: 22rem;
    max-height: 75%;
    background-size: cover;
    margin: 0 auto;
}

#plans-image{
    background: url("../images/meal.jpg") center center no-repeat;
    width: auto;
    height: 22rem;
    background-size: cover;
    margin: 0 auto;
}

#classes-image{
    background: url("../images/fitness-class.jpg") center center no-repeat;
    width: auto;
    height: 22rem;
    background-size: cover;
    margin: 0 auto;
}

.card-heading{
    text-align: center;
    padding: 40px 0;
}

#view-classes-button{
    display: block;
    margin-left:auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 50px;
    max-width: 350px;
}

.what-we-offer-images{
    position: relative;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    align-items: center;
    text-align: center;
}

#personal-trainers-section{
    background-color: rgba(0,0,0,0.9);
    color: white;
}

/*----------------------------------Personal Trainers Section */

.trainer-image{
    width: auto;
    height: 400px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.trainer-description{
    padding: 30px 0;
    text-align: justify;
}

/*----------------------------------Testimonial section on index.html */

#testimonials-section{
    padding-top: 30px;
    padding-bottom: 50px;
}


/*----------------------------------Class Types Section - classes.html*/

#spin-class-image{
    background: url("../images/spin.jpg") center center no-repeat;
    width: 100%;
    height: 35rem;
}

#hiit-class-image{
    background: url("../images/hiit.jpg") center center no-repeat;
    width: 100%;
    height: 35rem;
}

#strength-class-image{
    background: url("../images/strength.jpg") center center no-repeat;
    width: 100%;
    height: 35rem;
}

#combat-class-image{
    background: url("../images/combat.jpg") center center no-repeat;
    width: 100%;
    height: 35rem;
}

.class-description{
    text-align: center;
    padding-top: 10%;
}

#schedule-section{
    padding-top: 30px;
    padding-bottom: 75px;
}
/*----------------------------------About Us Page - about.html*/

#map-section{
    padding: 100px 0;
}

#map-location{
    width: 100%;
    height: 15rem;
}

#opening-hours-table{
    padding-top: 20px;
    padding-bottom: 50px;
}

.form-group .btn{
    
    color: black;
    background-color: white;
    border-color: #B92207;
    border-width: 3px;
    width: 33%;
}

.form-group .btn:hover{
    color: white;
    background-color:maroon;
    border-color: maroon;   
}


/*----------------------------------Gallery - gallery.html */
#classes-images-row{
    margin-bottom: 75px;
}

#gallery-title{
    margin-top: 50px;
}
/*----------------------------------Media Queries*/

@media only screen and (max-width: 768px) {
     .hero-image{
         height:30rem;
     }

     .jumbotron {
    width: auto;
    margin-top: 8px;
  }

  .jumbotron h1{
        padding-top:0;
      font-size:22px;
      font-weight: 800;
  }
  
  }

  @media only screen and (min-width: 768px) {
    .trainer-description{
    padding-left: 20%;
    padding-right: 20%;
}
  }

/*----------------------------------Footer*/

#footer{
    background-color: rgba(0,0,0,0.9);
    color:#fafafa;
    height: 150px;
    text-align: center;
}

.footer-text{
    padding-top: 15px;
    padding-bottom: 5px;
}

.footer-link{
    text-decoration: none;
    color: #F62207;
}

#footer p{
    margin: 0 auto;
}