/*----------------------------------General settings*/
.uppercase{
    text-transform: uppercase;
}







/*----------------------------------Colours*/

.bg-dark {
    background-color: rgba(0,0,0,0.8)!important;
}

.what-we-offer-section{
    background-color: gray;
}

.jumbotron{
    color:white;
    background-color: rgba(0,0,0,0.8);
}

#offer-card-left{
    background-color: blue;
}
/*----------------------------------Text Classes*/

.section-heading{
    text-align: center;
    padding: 15px;
    color: chocolate;
}


/*----------------------------------Header*/
header{
    margin:0;
    padding:0;
}

.hero-image{
    background: url("../images/index-header.jpg") center center no-repeat;
			width: 100%;
            height: 85vh;
            padding:0;
            clear:both;
}

.navbar{
    height: 75px;
}

.active{
    border-bottom: 1px solid white;
}



.jumbotron{
    width:70%;
    position: relative;
    text-align: center;
}

.jumbotron p{
    padding-top: 10px;
}


/*----------------------------------What We Offer Section*/

#coaching-image{
    background: url("../images/coach.jpg");
    width:65%;
    height:50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    background-position: center;
    margin: 0 auto;
    
}

.card-heading{
    text-align: center;
}


/*----------------------------------Media Queries*/

@media only screen and (max-width: 768px) {
     .hero-image{
         height:30rem;
     }

     .nav-link{
         display: none;
     }

     .jumbotron {
    height: 58vh;
    width: auto;
    margin-top: 8px;
  }

  .jumbotron h1{
        padding-top:0;
      font-size:22px;
      font-weight: 800;
  }

  

  }


/*----------------------------------Footer*/

#footer{
    background-color: grey;
    color: yellow;
}